@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  html {
  scroll-behavior: smooth;
  
  .loading {
    height: 0;
    width: 0;
    padding: 7px;
    border: 2px solid #ca6702;
    border-right-color: #f8f9fa;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
    position: fixed;
    top: 50%;
    left: 50%;
  }
  .center {
    display: block;
    margin: 0 auto;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

}
